/* * chỉ dùng để css box-sizing */
*{
    box-sizing: border-box;
}
/* chỉ dùng để css font size , 1rem - 10px */
html{
    font-size: 62.5%;
}
/* =================common================== */
body{
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
    
}

.main-content{
    width: 1170px;
    /* Khi keo trinh duyet nho lai van giu khoang cach le 24px */
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
    
}

.btn{ 
    display: inline-block; 
    color: #FFF;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
    border-radius: 24.5px;
    background: #171100;
    padding: 0px 16px;
    line-height: 50px;
}

/* Header */

.header.fixed{
    position: sticky;
    /* kéo chuột tới khoảng cách top 8px sẽ stick lại */
    top:-28px;
}

.header{
    background: #FFFCF4;
    
}

a{
    text-decoration: none;
}

.header .body{
    display: flex;
    align-items: center;
    padding: 36px 0 8px ;
     
     
}
/* nav */
.nav ul{
    display: flex;
}

.header .nav{
    margin-left: auto;
}

.nav a{
    color: #5F5B53;
    text-align: center;
    font-size: 1.6rem;
    padding: 8px 21px;
}

.nav a:hover{
    color: #171100;
    text-shadow: 1px 0 currentColor;

}
/* btn sign-up */

.header .btn-sign-up{
    min-width: 144px;
   margin-left: 54px;

}


